JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

SIWE_DOMAIN=localhost:8787

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

REDIS_URL=redis://localhost:6379
